/* Sticky Navbar */
.NetBarSTK {
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 1000;
  transition: background 0.3s ease; /* Smooth transition for blur effect */
}

/* Background blur effect */
.BackgroundBlur {
  background: rgba(255, 255, 255, 0.6); /* Semi-transparent white */
  backdrop-filter: blur(8px); /* Blur effect */
}


/* Main Navbar Styling */
.navbar {
  background-color: white;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  width: 100%;
  top: 0;
}

/* Navbar Container */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Logo Styling */
.navbar-logo .logo-image {
  height: 50px;
  width: auto;
}

/* Links Section */
.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links .nav-link {
  text-decoration: none;
  color: #555;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar-links .nav-link:hover {
  color: #333;
}

/* Coin Section */
.navbar-coins {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-coins .coin-text {
  font-weight: bold;
  font-size: 16px;
  color: #555;
}

.navbar-coins .coin-icon {
  height: 20px;
  width: 20px;
}
